{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "length-zero-no-unit": null, 
    "color-function-notation": "legacy", 
    "alpha-value-notation": "number", 
    "color-hex-length": "long", 
    "media-feature-range-notation": "prefix" 
  }
}
